.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
_book/*
.quarto/*
/pages/*/
/pages/*.html
/pages/~$*
/pages/*
/pages/!*.qmd
/pages/!*.css
/pages/!*.js
/case_study_template/*/
/case_study_template/*.html


/.quarto/
