.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

# Ignore everything inside /pages/ except for .qmd, .css, and .js files
/pages/*
!/pages/*.qmd
!/pages/*.css
!/pages/*.js

# Ignore specific file types inside /pages/
/pages/~$*
/pages/*.html

/case_study_template/*/
/case_study_template/*.html

/.quarto/
.env
