.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
_book/*
.quarto/*

# Ignore everything inside /pages/ except for .qmd, .css, and .js files
/pages/*
!/pages/*.qmd
!/pages/*.css
!/pages/*.js

# Ignore specific file types inside /pages/
.pages/*.html
/pages/~$*

/case_study_template/*/
/case_study_template/*.html

/.quarto/
